@charset "UTF-8";

/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

/* 레이아웃 */
body {
    background: url(../images/header_bg.jpg) repeat-x center top;
}

#nav {
    background-color: #f6fdff;
}

#title {
    background-color: #eaf7fd;
}

#contents .container {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    position: relative;
}

#cont_left {
    float: left;
    width: 250px;
}

#cont_center {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    min-height: 1300px;
    /* #cont_left의 영역 설정 float의 부작용*/
    margin-right: 250px;
    /* #cont_right의 영역 설정 float의 부작용*/
    overflow: hidden;
}

#cont_right {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

#footer {
    border-top: 1px solid #dbdbdb;
}

/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
    /* background: rgba(0,0,0,0.3); */
}

/* 헤더 */
.header {
    height: 327px;
}

.header .header_menu {
    text-align: right;
}

.header .header_menu a {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    padding: 8px 0 6px 10px;
    /* 패딩값이 적용되기 위해 inline-block 사용 */
    display: inline-block;
    transition: color 0.3s ease;
}

.header .header_menu a:hover {
    color: #ccc;
}

.header .header_tit {
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
}

.header .header_tit h1 {
    background: #51b0dc;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    letter-spacing: 2px;
    /* :hover시 애니메이션 효과 지정 */
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit h1:hover {
    /* box-shadow: inset hoff voff blur #000; */
    box-shadow: inset -9em 0 0 0 #257fac, inset 9em 0 0 0 #257fac;
}

.header .header_tit a {
    background: #4a9abf;
    color: #fff;
    font-style: 16px;
    display: inline-block;
    margin-top: -7px;
    padding: 10px 20px 10px 20px;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_tit a:hover {
    box-shadow: 0 0 0 5px rgba(75,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;
}

.header .header_icon {
    margin-top: 40px;
    padding-bottom: 45px;
    text-align: center;
}

.header .header_icon li {
    display: inline;
    margin: 0 2px;
}

.header .header_icon li a {
    background-color: #3192bf;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    /* width와 height 적용되게 하려면 block 구조로 바꾸기 */
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    transition: all 0.3s ease;
}

.header .header_icon li a:hover {
    box-shadow: 0 0 03px rgba(75,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;
}

.header .header_icon li a span {
    position: absolute;
    top: -40px;
    left: 50%;
    background: #3192bf;
    border-radius: 6px 0;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    transform: translate(-50%);
    transition: all 0.3s ease;
    padding: 3px 9px;
    opacity: 0;
}

.header .header_icon li a span::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    /* CSS에서 삼각형만들기 */
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}

/* 전체메뉴 */
.nav {
    overflow: hidden;
    padding: 25px 0;
    display: none;
}

.nav > div {
    float: left;
    width: 40%;
}

.nav > div:last-child {
    width: 20%;
}

.nav > div h3 {
    color: #25a2d0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.nav > div ol {
    overflow: hidden;
}

.nav > div ol li {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 8px;
    box-sizing: border-box;
}

.nav > div:last-child li {
    width: 100%;
}

.nav > div ol li::before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
}

.nav > div ol li a {
    position: relative;
}

.nav > div ol li a::after {
    content: '';
    display: inline-block;
    width: o;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #25aad0;
    transition: all .2s ease-out;
}

.nav > div ol li:hover a::after {
    width: 100%;
}

/* 타이틀 */
.title {
    position: relative;
    text-align: center;
}

.title h2 {
    color: #0093bd;
    font-size: 39px;
    font-family: 'Nanum Brush Script', cursive;
    padding: 5px 0;
}

.title .btn {
    position: absolute;
    top: 5px;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #3192bf;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    transition: all .3s ease;
}

.title .btn:hover {
    box-shadow: 0 0 0 3px rgba(71,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 컨텐츠 영역 */
.column {
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
}

.column .col_tit {
    color: #2f7fa6;
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.column .col_desc {
    border-bottom: 1px dashed #dbdbdb;
    color: #878787;
    line-height: 18px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/* 메뉴 */
.column.col1 .menu ul li {
    position: relative;
}

.column.col1 .menu ul li a {
    border-bottom: 1px solid #dbdbdb;
    color: #878787;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    transition: box-shadow 0.34s ease, background 0.34s ease;
}

.column.col1 .menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
}

.column.col1 .menu ul li a:hover {
    box-shadow: inset 180px 0 0 0 rgba(36,130,174,0.7);
    background: rgba(36,130,174,0.9);
    color: #fff;
}

/* 게시판1 */
.column.col2 .notice1 {
    position: relative;
}

.column.col2 .notice1 h5 {
    color: #2f7fa6;
    font-size: 14px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.column.col2 .notice1 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-left: 8px;
}

.column.col2 .notice1 ul li::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #449ce2;
    position: absolute;
    top: 6px;
    left: 0;
}

.column.col2 .notice1 .more {
    position: absolute;
    top: 3px;
    right: 0;
    color: #878787;
    font-size: 10px;
    text-transform: uppercase;
}

/* 게시판2 */
.column.col2 .notice2 {
    position: relative;
}

.column.col2 .notice2 h5 {
    color: #2f7fa6;
    font-size: 14px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.column.col2 .notice2 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    /* IE 버전 */
    min-height: 35px;
    /* Vendor Prefix */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    padding-left: 8px;
    padding-bottom: 4px;
}

.column.col2 .notice2 ul li::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #449ce2;
    position: absolute;
    top: 6px;
    left: 0;
}

.column.col2 .notice2 .more {
    position: absolute;
    top: 3px;
    right: 0;
    color: #878787;
    font-size: 10px;
    text-transform: uppercase;
}

/* Blog */
.column.col3 {
    border-bottom: 0;
}

/* 블로그1 */
.column.col3 .blog1 figure img {
    width: 100%;
}

.column.col3 .blog1 figure .img-retina {
    display: none;
}

/* 해상도에 따른 이미지 비율 첫번째 방법 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
        .column.col3 .blog1 .img-retina {display: initial;}
        .column.col3 .blog1 .img-normal {display: none;}
}

/* 블로그2 */
.column.col3 .blog2 h5 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 30px;
}

.column.col3 .blog2 p {
    padding-top: 5px;
}

.column.col3 .blog2 .img-retina {
    background-image: url(../images/blog4_@1.jpg);
    background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        .column.col3 .blog2 .img-retina {
            background-image: url(../images/blog4_@2.jpg);
        }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3),
        only screen and (min-resolution: dppx) {
        .column.col3 .blog2 .img-retina {
            background-image: url(../images/blog4_@3.jpg);
        }
}

/* 이미지 슬라이드 */
.column.col4 .slider figure {
    position: relative;
}

.column.col4 .slider figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 18px;
}

.column.col4 .slider figcaption em {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    opacity: 0;
    transition: all .84s ease;
    transform: translateX(50px);
}

.column.col4 .slider figcaption span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    transition: all .84s .2s ease;
    transform: translateX(50px);
}

.column.col4 .slider .slick-active figcaption em {
    opacity: 1;
    transform: translateX(0);
}

.column.col4 .slider .slick-active figcaption span {
    opacity: 1;
    transform: translateX(0);
}

.column.col4 .slider .slick-dots {
    display: block;
    width: 100%;
    text-align: center;
}

.column.col4 .slider .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.column.col4 .slider .slick-dots li button {
    display: block;
    font-size: 0;
    width: 15px;
    height: 15px;
    line-height: 0;
    background: #5dbfeb;
    border-radius: 50%;
    cursor: pointer;
}

.column.col4 .slider .slick-dots li.slick-active button {
    background: #2b91c8;
}

.column.col4 .slider .slick-prev {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 1000;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
}

.column.col4 .slider .slick-prev::before {
    content: '\f053';
    color: #5dbfeb;
    text-indent: 0;
    position: absolute;
    top: 8px;
    left: 9px;
}

.column.col4 .slider .slick-next {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 1000;
    text-indent: -9999px;
    font: normal normal normal 14px/1 FontAwesome;
}

.column.col4 .slider .slick-next::before {
    content: '\f054';
    color: #5dbfeb;
    text-indent: 0;
    position: absolute;
    top: 8px;
    right: 11px;
}

/* 라이트 박스 */
.column.col5 .square a {
    float: left;
    overflow: hidden;
    width: 19%;
    margin: 0.5%;
    position: relative;
}

.column.col5 .square a img {
    display: block;
    width: 100%;
}

.column.col5 .square a em {
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: all .3s ease;
}

.column.col5 .square a:hover em {
    background: rgba(255,255,255,0.5);
    bottom: 0;
    color: #333;
}

.column.col5 .square a:nth-child(1):hover img {
    filter: blur(2px);
}

.column.col5 .square a:nth-child(2):hover img {
    filter: brightness(50%);
}

.column.col5 .square a:nth-child(3):hover img {
    filter: contrast(10%);
}

.column.col5 .square a:nth-child(4):hover img {
    filter: grayscale(100%);
}

.column.col5 .square a:nth-child(5):hover img {
    filter: hue-rotate(120deg);
}

.column.col5 .square a:nth-child(6):hover img {
    filter: invert(100%);
}

.column.col5 .square a:nth-child(7):hover img {
    filter: opacity(50%);
}

.column.col5 .square a:nth-child(8):hover img {
    filter: saturate(10%);
}

.column.col5 .square a:nth-child(9):hover img {
    filter: sepia(120%);
}

.column.col5 .square a:nth-child(10):hover img {
    filter: sepia(120%) hue-rotate(120deg);
}

/* 비디오 */
.column.col6 {
    border-bottom: 0;
}

.column.col6 .video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* padding 값에 의해 반응형 처럼 느껴지는 효과 */
}

.column.col6 .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.column.col7,
.column.col8 {
    text-transform: capitalize;
}

.column.col9 {
    border-bottom: 0;
    text-transform: capitalize;
}

.column.col7 span,
.column.col8 span,
.column.col9 span {
    text-transform: uppercase;
}

/* 푸터 */
.footer {
    background: #2f7fa6;
    text-align: center;
    padding: 30px 50px;
}

.footer ul li {
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
    position: relative;
}

.footer ul li::before {
    content: '';
    background-color: #dbdbdb;
    width: 2px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 0;
}

.footer ul li:first-child::before {
    width: 0;
}

.footer ul li:nth-child(4) {
    font-style: italic;
}

.footer ul li a {
    color: #dbdbdb;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer address {
    color: #dbdbdb;
    text-transform: capitalize;
    padding-top: 15px;
}

.footer address strong {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    text-transform: uppercase;
}

/* 사이드 이펙트1 */
.side1 {
    position: relative;
    /* 3D 사용시 원근감 설정 필요 */
    perspective: 600px;
    display: block;
}

.side1 .front {
    /* 3D 사용 설정 */
    transform-style: preserve-3d;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    /* 3D라서 뒷면은 감추기 */
    backface-visibility: hidden;
}

.side1 .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4038dc;
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    z-index: -1;
}

.side1 .back i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.side1:hover .front {
    transform: rotateY(180deg);
}

.side1:hover .back {
    transform: rotateY(0deg);
    z-index: 1;
}

/* 사이드 이펙트2 */
.side2 {
    display: block;
    position: relative;
    perspective: 600px;
}

.side2 .front {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.side2 .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    z-index: -1;
}

.side2 .front figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%) translateZ(100px);
    text-align: center;
}

.side2 .back figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%) translateZ(100px);
    text-align: center;
}

.side2 figcaption h3 {
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    width: 60%;
}

.side2:hover .front {
    transform: rotateY(180deg);
}

.side2:hover .back {
    transform: rotateY(0deg);
    z-index: 1;
}

/* 사이드 이펙트3 */
.side3 {
    position: relative;
    overflow: hidden;
}

.side3 figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(350%, -50%) rotate(180deg);
}

.side3 figcaption::after {
    content: '';
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.side3 figcaption h3 {
    font-size: 16px;
}

.side3 figcaption em {
    display: block;
    font-weight: bold;
}

.side3 img {
    display: block;
    transition: all 0.3s ease;
}

.side3:hover img {
    opacity: 0.4;
}

.side3:hover figcaption {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

/* MediaQuery */
/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px) {
    .container {
        width: 100%;
    }

    .row {
        padding: 0 15px;
    }

    #contents .container {
        border: 0;
    }

    .title .btn {
        right: 5px;
    }

    .column.col5 .square a {
        width: 24%;
    }

    .column.col5 .square a:nth-child(5n) {
        display: none;
    }
}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
    .column.col5 .square a {
        width: 32.3333%;
    }

    .column.col5 .square a:nth-child(5) {
        display: block;
    }
}

/* 화면 너비  0 ~ 960px */
@media (max-width: 960px) {
    #cont_center {
        border-right: 0;
        margin-right: 0;
    }

    #cont_right {
        position: static;
        border-top: 1px solid #dbdbdb;
        width: 100%;
        overflow: hidden;
    }

    .nav > div {
        float: none;
        width: 100%;
    }

    .nav > div:last-child {
        width: 100%;
    }

    .nav > div ol {
        margin-bottom: 10px;
    }

    .nav > div ol li {
        width: 33.3333%;
    }

    .nav > div:last-child li {
        width: 33.3333%;
    }

    #cont_right .column {
        float: left;
        width: 33.3333%;
        box-sizing: border-box;
    }

    #cont_right .column.col7,
    #cont_right .column.col8 {
        border-right: 1px solid #dbdbdb;
        border-bottom: 0;
    }
}

/* 화면 너비  0 ~ 768px */
@media (max-width: 768px) {
    #cont_left {
        float: none;
        width: 100%;
    }

    #cont_center {
        border-left: 0;
    }
}

/* 화면 너비  0 ~ 600px */
@media (max-width: 600px) {
    .header {
        /* height값을 깰 때 auto 사용한다 */
        height: auto;
    }

    .header .header_menu a {
        font-size: 14px;
    }

    .header .header_tit {
        display: none;
    }

    .header .header_icon {
        display: none;
    }

    .title h2 {
        font-size: 29px;
    }

    .title .btn {
        display: none;
    }

    .nav > div ol li {
        width: 50%;
    }

    .nav > div:last-child li {
        width: 50%;
    }

    .column.col1 {
        border-bottom: 0;
        padding: 0;
    }

    .column.col1 .col_tit {
        display: none;
    }

    .column.col1 .col_desc {
        display: none;
    }

    .column.col1 .menu ul {
        overflow: hidden;
    }

    .column.col1 .menu ul li {
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
        float: left;
        text-align: center;
        width: 33.3333%;
    }

    .column.col1 .menu ul li:nth-child(3n) {
        border-right: 0;
    }

    .column.col1 .menu ul li a {
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.7);
    }

    .column.col1 .menu ul li a:hover {
        background: rgba(36,130,174,0.3);
        box-shadow: none;
    }

    .column.col1 .menu ul li i {
        display: none;
    }

    .column.col2 {
        background: #fff;
    }

    .column.col4 {
        border-top: 1px solid #dbdbdb;
    }

    .column.col4 .slider figcaption {
        padding: 10px;
    }

    .column.col4 .slider figcaption em {
        font-size: 18px;
    }

    .column.col4 .slider figcaption span {
        font-size: 14px;
    }

    .column.col5 .square a {
        width: 49%;
    }

    .column.col5 .square a:nth-child(5) {
        display: none;
    }

    #cont_right .column {
        width: 50%;
    }

    #cont_right .column.col8 {
        border-right: 0;
    }

    #cont_right .column.col9 {
        display: none;
    }
}

/* 화면 너비  0 ~ 480px */
@media (max-width: 480px) {
    .header .header_menu a {
        font-size: 12px;
    }

    .title h2 {
        font-size: 25px;
    }

    .column.col1 .menu ul li a {
        font-size: 12px;
    }
}

/* 화면 너비  0 ~ 320px */
@media (max-width: 320px) {
    .nav > div ol li {
        width: 100%;
    }

    .nav > div:last-child li {
        width: 100%;
    }

    .column.col5 .square a {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #cont_right .column {
        width: 100%;
    }

    #cont_right .column.col7 {
        border-right: 0;
        border-bottom: 1px solid #dbdbdb;
    }
}
